.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .lazy-load {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    background-color: #f0f0f0;
    opacity: 0; 
   transition: opacity 2s ease-in; 
  }

  .loaded {
    opacity: 1;
  }

#loadButton{ 
    display: flex;
    background-color: aqua;
    margin-top: 20px;
    width: 90px;
    height: 40px;
    cursor: pointer;
    
}

#closeButton{
  display: none;
  background-color: red;
    margin-top: 20px;
    width: 90px;
    height: 40px;
    cursor: pointer;
}